{% extends 'core/base.html' %}

{% block content %}

<h2 class="mb-4">💼 Cargos</h2>

<a href="/cargos/novo/" class="btn btn-success">+ Novo Cargo</a>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Departamento</th>
            <th>Nível</th>
            <th>Carga Horária</th>
        </tr>
    </thead>

    <tbody>
        {% for c in cargos %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.departamento.nome }}</td>
            <td>{{ c.nivel }}</td>
            <td>{{ c.carga_horaria }}h</td>
        </tr>
        <td>
            <a href="editar/{{ c.id }}/" class="btn btn-warning btn-sm">✏️ Editar</a>

            <a href="excluir/{{ c.id }}/"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Tem certeza que deseja excluir?')">
            🗑️ Excluir
            </a>
        </td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}