{% extends 'base.html' %}

{% block content %}
<h2>Bem-vindo ao RH Smart</h2>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card bg-primary text-white p-3 text-center">
            <h3>Funcionários</h3>
            <p class="display-6">Gerencie sua equipe</p>
            <a href="/funcionarios/" class="btn btn-light btn-sm">Ver Todos</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-success text-white p-3 text-center">
            <h3>Folha</h3>
            <p class="display-6">Processar Pagamentos</p>
            <a href="/folha/" class="btn btn-light btn-sm">Acessar</a>
        </div>
    </div>
</div>
{% endblock %}