{% extends 'core/base.html' %}

{% block content %}

<h2 class="mb-4">🏢 Departamentos</h2>

<a href="/departamentos/novo/" class="btn btn-success">+ Novo Departamento</a>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Criado em</th>
        </tr>
    </thead>

    <tbody>
        {% for d in departamentos %}
        <tr>
            <td>{{ d.nome }}</td>
            <td>{{ d.descricao }}</td>
            <td>{{ d.criado_em }}</td>
        </tr>
        <td>
            <a href="editar/{{ d.id }}/" class="btn btn-warning btn-sm">✏️ Editar</a>

            <a href="excluir/{{ d.id }}/"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Tem certeza que deseja excluir?')">
            🗑️ Excluir
            </a>
        </td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}