{% extends 'core/base.html' %}

{% block content %}

<h2 class="mb-4">🏢 Departamentos</h2>

<a href="/admin/core/departamento/add/" class="btn btn-success mb-3">
    ➕ Novo Departamento
</a>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Criado em</th>
        </tr>
    </thead>

    <tbody>
        {% for d in departamentos %}
        <tr>
            <td>{{ d.nome }}</td>
            <td>{{ d.descricao }}</td>
            <td>{{ d.criado_em }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}